.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first {
    padding: 18vh 12px 64px;
    max-width: 1100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pageTitle {
    font-size: 64px;
    margin: 0 0 24px 0;
    padding: 0;
}

.exclaim {
    color: var(--ifm-color-primary);
}

.subtitle {
    line-height: 1.4;
    font-size: 24px;
    color: var(--catalyst-text-alt);
    margin-bottom: 36px;
}

.ctas {
    text-align: center;
}

.mainCta {
    padding: 6px 18px;
    border-radius: 12px;
    background-color: var(--ifm-color-primary);
    font-size: 24px;
    text-decoration: none;
    display: inline-block;
}

.mainCta:hover,
.mainCta:link,
.mainCta:visited {
    color: #fefbff;
}

.mainDocs {
    font-size: 24px;
    margin-left: 24px;
    display: inline-block;
}

.mainPreviewContainer {
    aspect-ratio: 2.3;
    object-fit: cover;
    width: 90vw;
    max-width: 1100px;
}

.mainPreviewScreen {
    box-shadow: 0 0 5px -3px;
    display: block;
    border-radius: 8px;
    overflow: hidden;
}

@media (max-width: 500px) {
    .first {
        padding: 10vh 8px 64px;
    }

    .pageTitle {
        font-size: 36px;
    }

    .subtitle {
        font-size: 20px;
    }

    .mainPreviewContainer {
        width: 100%;
        aspect-ratio: unset;
        padding-bottom: 24px;
    }
}

.detailsContainer {
    background-color: #ebefff;
}

[data-theme="dark"] .detailsContainer {
    background: #49454F;
}

.detailRow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 164px 0;
}

.detailRow.right {
    flex-direction: row-reverse;
}

.card {
    flex: 0 1 425px;
}

.cardTitle {
    display: flex;
    align-items: center;
    justify-content: stretch;
    margin: 0 0 24px;
}

.emoji {
    font-size: 36px;
    margin-right: 18px;
}

.card h2 {
    color: var(--ifm-color-primary);
    font-size: 28px;
    margin: 0;
    padding: 0;
}

.card p {
    line-height: 1.5;
    font-size: 18px;
    margin: 12px 0;
}

.card ul {
    line-height: 1.5;
    font-size: 18px;
    margin: 12px 0;
}

.detailsScreen {
    flex: 0 1 1000px;
    padding: 0 0 0 64px; 
}

.right .detailsScreen {
    flex-direction: row-reverse;
    padding: 0 64px 0 0;
}


.detailsScreen img {
    border-radius: 8px;
    display: block;
    height: 100%;
    object-fit: contain;
}

@media (max-width: 1000px) {
    .detailsContainer {
        padding: 0;
    }

    .detailRow,
    .detailRow.right {
        display: flex;
        flex-direction: column;
        margin: 72px 0 164px;
    }

    .card {
        flex: 0 0 auto;
        padding: 12px;
        margin-bottom: 24px;
    }

    .detailsScreen,
    .right .detailsScreen {
        flex: 0 1 auto;
        padding: 0;
    }
}

.bottomCtaContainer {
    padding: 72px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clientLibText {
    padding: 0 12px;
    text-align: center;
    max-width: 700px;
}

.clientLibText p {
    font-size: 16px;
}

.clientLibs {
    margin: 12px 0 36px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 12px;
    row-gap: 12px;
}

.clientLibs a {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 24px 12px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid var(--ifm-color-primary-lighter);
}

@media (max-width: 750px) {
    .clientLibs {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

.bottomCtas {
    margin-top: 12px;
}

.bottomCta {
    padding: 6px 18px;
    border-radius: 12px;
    background-color: var(--ifm-color-primary);
    font-size: 24px;
    display: inline-block;
}

.bottomCta:hover,
.bottomCta:link,
.bottomCta:visited {
    color: #fefbff;
    text-decoration: none;
}

.bottomDocs {
    font-size: 24px;
    margin-left: 24px;
    display: inline-block;
}

.lastDitchLinks {
    margin-top: 12px;
    font-size: 14px;
    color: var(--catalyst-text-alt);
}

.demoContainer {
    margin: 124px 0;
    max-width: 100vw;
    width: 1000px;
}