.infoPanels {
    margin: 0 auto;
    max-width: 1600px;
    padding: 30vh 48px;
    box-sizing: border-box;
}

.infoPanel {
    margin-bottom: 20vh;
    display: flex;
    align-items: center;
    gap: 36px;
}

.infoPanel:last-child {
    margin-bottom: 0;
}

.infoPanel h3 {
    color: var(--ifm-color-primary);
}

.infoPanel:nth-child(2n) {
    flex-direction: row-reverse;
}

.text {
    flex: 0 0 400px;
}

@media (max-width: 500px) {
    .infoPanels {
        margin: 0 auto;
        max-width: 1600px;
        padding: 10vh 0;
        box-sizing: border-box;
    }

    .infoPanel {
        flex-direction: column;
        margin-bottom: 10vh;
        gap: 0;
    }

    .infoPanel:nth-child(2n) {
        flex-direction: column;
    }

    .text {
        flex: 0 0 auto;
        margin-right: 0;
        margin-bottom: 12px;
    }
}

.panel {
    border-bottom: 1px solid var(--catalyst-outline);
    padding: 12px 24px;
}

.panel:last-child {
    border-bottom: 0;
}

.header {
    font-size: 18px;
    font-weight: bold;
    flex: 0 1 100%;
}

.details {
    margin-top: 12px;
}

.image {
    flex: 0 1 100%;
    display: block;
    width: 100%;
    min-width: 100px;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 6px -3px var(--catalyst-shadow-color);
}